---
layout: default
---

<div class="container">

  <div class="clearfix spacer"></div>

  <h1>Recent action!</h1>

  <div class="clearfix spacer"></div>

  <!-- BODY CONTENT -->
  <div class="row">

    <!-- STEPS -->
    <div class="col-sm-7 col-md-8">

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">1</span></span>

        <div class="media-body">
          <h4 class="mt-2 mb-2">TITLE OF EVENT</h4>
          <p class="card-text">Join our email list to get email updates on meeting times, announcements, action items, and more.</p>
          {% if page.embed-code %}
          <div class="row">
            <div class="col-sm-8 col-md-6">

                {{ page.embed-code }}

             </div>
      
        </div>

</div>
